body{font-family:'Arial',sans-serif;background-color:#181818;color:#fff;display:flex;flex-direction:column;align-items:center;min-height:100vh;margin:0;padding:20px}
h1{font-size:1.5rem;margin:0;text-align:center}
.c{background-color:#1a1a1a;border-radius:8px;padding:10px;margin:10px 0;text-align:center}
.c.ultimo{background-color:#ff6347}
button{background-color:#007bff;color:#fff;padding:10px 20px;border:none;border-radius:5px;cursor:pointer;margin-bottom:20px}
button:hover{background-color:#0056b3}
